.dashboardWrapper {
  width: 95%;
  height: 95vh;
  background: rgba(40, 40, 40, 0.6); 
  backdrop-filter: blur(10px);      
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 64px 0 rgba(0, 0, 0, 0.3);
  padding: 40px;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5열 */
  
  grid-template-areas:
    "header     header       header    header   header"
    "status     status       status    map      map"
    "controls1  controls2    control3  map      map"
    "graph1     graph2       graph2    graph2   graph2";
    
  grid-template-rows: auto auto 1fr 1fr; 
}

.header {
  grid-area: header;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.status {
  grid-area: status;
}

.control1 {
  grid-area: controls1;
}

.controls2 {
  grid-area: controls2;
}

.control3 {
  grid-area: controls3;
}

.map {
  grid-area: map;
}

.graph1 {
  grid-area: graph1;
}

.graph2 {
  grid-area: graph2;
}

body {
  /*배경 이미지*/
  background-image: url('./background1.jpg'); 
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f3340;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #eaeef6;
}

.logo img{
  height: 100px;
  width: auto;
  display: block;  
}

.panel {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 7, 2, 0.37); /*그림자*/
  border-radius: 8px; 
  padding: 20px;
  box-sizing: border-box;
}
